---
layout: default
metasomething:
metaanotherthing:
---
  <div>
    <h1>{{ page.title }}</h1>
  </div>

<ul class="archive">
  {% assign t = page.title | downcase %}
    {% for note in site.notes %}
      <li>
        {% if note.tags contains t %}
          <a href="{{ note.url }}" class="internal-link"><b>{{note.title}}</b></a>
          <span>Last updated on {{ note.last_modified_at | date: "%B %-d, %Y" }}</span>
          <p>
           {% if note.summary %}
           {{ note.summary | strip_html | truncate: 50, "..." }}
           {% else %}
           {{ note.excerpt | strip_html | truncate: 50, "..." }}
           {% endif %}
          </P>
        {% endif %}
      </li>
    {% endfor %}
</ul>
