---
layout: default
metasomething:
metaanotherthing:
---

<article>
<div>
  <h1>{{ page.title }}</h1>
</div>

<div id="notes-entry-container">
  
<ul class="archive">
  {% assign t = page.title | downcase %}
    {% for note in site.notes %}
      <li>
        {% if note.tags contains t %}
          <a href="{{ note.url }}" class="internal-link"><b>{{note.title}}</b></a>
          <span>{% if note.tag != null %} in  
            {% for tag in note.tags %}
            <a href="/{{ note.tag }}" class="internal-link">{{note.tag}}</a>
             {% unless forloop.last %}, 
             {% endunless %}
            {% endfor %}
            {% endif %} | 
          Last updated on {{ note.last_modified_at | date: "%B %-d, %Y" }}</span>
          <p>
           {% if note.summary %}
           {{ note.summary | strip_html | truncate: 40, "..." }}
           {% else %}
           {{ note.excerpt | strip_html | truncate: 40, "..." }}
           {% endif %}
          </P>
        {% endif %}
      </li>
    {% endfor %}
</ul>

    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">Notes mentioning this note</h3>
      {% if page.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em">
         <span class="summary">
          {% if backlink.summary %}
            {{ backlink.summary | strip_html | truncate: 30, "..." }}
          {% else %}
            {{ backlink.excerpt | strip_html | truncate: 30, "..." }}
          {% endif %}
         </span>
        </div>
        </div>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          There are no notes linking to this note.
        </p>
      </div>
      {% endif %}
    </side>
  </div>
</article>

<hr>

<section>
  {%- if site.show_notes_graph -%}
    <p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>
    {% include notes-graph.html %}
  {%- endif -%}
</section>
